<app-headeradmin></app-headeradmin>
<div style="padding: 20px; display: flex;">
    <!-- Today's Rankings -->
    <div class="card" *ngIf="datas && datas.length > 0">
        <h2>Today's Rankings</h2>
        <div class="bt-g" *ngFor="let data of datas.slice(0, 10); let i = index">
            <!-- Display today's rankings -->
            <div style="display: flex; align-items: center;">
                <p class="number" style="padding: 20px;">{{ i + 1 }}</p>
                <a (click)="showGrapTo(data.post_id)"
                    style="cursor: pointer; display: flex; align-items: center; padding: 10px;">
                    <img class="img" src="{{ data.post_photo }}" alt="">
                    <p class="caption" style="padding: 20px;">{{ data.post_caption }}</p>
                </a>
            </div>
            <div style="display: flex; align-items: center; padding: 20px;">
                <p class="score">{{ data.score_sum }}</p>
                <div style="display: flex; align-items: center;">
                    <!-- Display image based on rank difference -->
                    <ng-container *ngIf="datad[i]?.rank_difference === 0">
                        <p class="pre">=</p>
                    </ng-container>
                    <ng-container *ngIf="datad[i]?.rank_difference < 0">
                        <img class="down"
                            src="https://freepngimg.com/thumb/arrow/132523-down-vector-arrow-png-file-hd-thumb.png"
                            alt="Negative Difference">
                        <p style="color: red;">{{ datad[i]?.rank_difference }}</p>
                    </ng-container>
                    <ng-container *ngIf="datad[i]?.rank_difference > 0">
                        <img class="up" src="https://www.pngmart.com/files/3/Up-Arrow-PNG-File.png"
                            alt="Positive Difference">
                        <p style="color: green;">+{{ datad[i]?.rank_difference }}</p>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
