<app-header></app-header>
<div style="padding: 20px;">
    <div class="card">
        <div class="bt-g" *ngFor="let data of datas; let i = index">
            <div style="display: flex; align-items: center;">
                <p class="number" style="padding: 20px;">{{ i + 1 }}</p>
                <a (click)="showGrap(data.post_id)" style="cursor: pointer; display: flex; align-items: center; padding: 10px;">
                    <img class="img" src="{{ data.post_photo }}" alt="">
                    <p class="caption" style="padding: 20px;">{{ data.post_caption }}</p>
                </a>
            </div>
            <p class="score">{{ data.score }}</p>
        </div>

    </div>
</div>


    