<app-header></app-header>
<div class="background">
    <div class="card">
        <p class="caption">{{ selectedLeftName }}</p>
        <img class="img"
        [src]="selectedLeftPhoto"
            alt="img">
        <div class="con">
            <button (click)="showAlert()" style="font-weight: bold;">VOTE</button>
        </div>
        <p class="count-vote">Vote : 100</p>
    </div>
    
    <div class="card">
        <p class="caption">{{ selectedRightName }}</p>
        <img class="img"
        [src]="selectedRightPhoto"
            alt="img">
        <div class="con">
            <button (click)="showAlert()" style="font-weight: bold;">VOTE</button>
        </div>
        <p class="count-vote">Vote : 100</p>
    </div>
</div>
