<head>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
            font-variation-settings:
                'FILL' 0,
                'wght' 600,
                'GRAD' 0,
                'opsz' 24;
            font-size: 50px;
            margin-right: 70px;
            cursor: pointer;
        }
    </style>
</head>
<div class="flex-header">
    <div class="div">
        <a routerLink="">
            <img class="logo" src="https://i.pinimg.com/736x/6c/24/ca/6c24ca0bb77928acd539845542526994.jpg">
        </a>
        <p style="font-size: 20px;">No.1</p>
    </div>
    <div>
        <div class="dropdown">
            <span class="material-symbols-outlined">
                menu
            </span>
            <div class="dropdown-content">
                <a (click)="homeShow()">Home</a>
                <a (click)="scoreShow()">Score</a>
                <a (click)="login()">Login</a>
            </div>
        </div>
    </div>
</div>

