<app-headeradmin></app-headeradmin>
<div style="padding: 20px;">
    <div class="card">
        <div style="display: flex;">
            <div style="display: flex; align-items: center;">
                <p style="padding: 20px;">1</p>
                <a routerLink="/homeadmin/profileuser" style="cursor: pointer; display: flex; align-items: center;">
                    <img class="img"
                        src="https://1417094351.rsc.cdn77.org/articles/8571/8570468/thumbnail/large.gif?1"
                        alt="">
                </a>
            </div>
            <p style="padding: 20px;">user</p>
        </div>
        <hr>
    </div>
</div>