<app-headeradmin></app-headeradmin>
<div style="padding: 20px;">
    <div class="card" >
        <div *ngFor="let index of name;" style="margin-bottom: 10px;">
        <div  *ngIf="index.user_type != 'admin'" style="display: flex;" class="user">
            <div style="display: flex; align-items: center;">
                <p style="padding: 20px;">{{ index.user_id }}</p>
                <a (click)="profile(index.user_id)" style="cursor: pointer; display: flex; align-items: center;">
                    <img class="img"
                        src="{{ index.avatar }}"
                        alt="">
                </a>
            </div>
            <p style="padding: 20px;">{{index.user_name}}</p>
        </div>
        </div>
    </div>
</div>