.card{
    background-color: rgba(183, 231, 255, 0.575) ;
    padding: 20px;
    border-radius: 30px;
}

.img-edit{
    margin-top: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover ;
    border-radius: 20px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px;
}

.nameInput{
    opacity: 0.5; 
    margin-left: 10px;
    margin-bottom: 0px;
}

input[type="text"],[type="url"]{
    padding-left: 15px;
  }

.btn{
    margin-top: 25px;
    width: 100px;
    padding: 10px 20px;
    margin-right: 87px;
    border: none;
    border-radius: 5px;
    background-color: rgb(125, 127, 241);
    color: #ffffff;
    cursor: pointer;
}

button.btn:hover {
    background-color: rgb(117, 92, 214);
}

.btn-delete{
    margin-top: 25px;
    width: 100px;
    padding: 10px 20px;
    margin-right: 87px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 65, 65);
    color: #ffffff;
    cursor: pointer;
}

button.btn-delete:hover {
    background-color: rgb(255, 48, 48);
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* กำหนดคอลัมน์ให้ข้อมูลแสดงแถวละ 2 */
    gap: 100px; /* ระยะห่างระหว่างแถวและคอลัมน์ */
}

button.btn:hover, button.btn-delete:hover {
    filter: brightness(85%); /* เพิ่มเอฟเฟกต์เมื่อโฮเวอร์ที่ปุ่ม */
}

.card-btn {
    width: 20px;
    justify-content: center; /* จัดการตำแหน่งแนวนอนเป็นกลาง */
    align-items: center;
    padding: 40px;
    z-index: 0;
    position: absolute;
}

.back-btn {
    border: none;
    background: none;
    color: rgb(116, 116, 116);
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    margin-top: -35px;
    margin-left: -29px;
    z-index: 100;
    position: absolute;
  }