<app-header></app-header>
<div style="padding: 20px;">
    <div class="card-btn">
        <button class="back-btn" (click)="back()">&lt; Back</button>
    </div>
    <div class="card">
        <div class="item-container">
            <div *ngFor="let index of datas">
                <div style="display: flex; align-items: center;" *ngIf="userId == index.user_id">
                    <img class="img-edit" src="{{ index.post_photo }}" alt="img">
                    <div style="padding: 20px;" *ngIf="index.post_id == index.post_id">
                        <p class="nameInput">Name</p>
                        <input type="text" placeholder="{{ index.post_caption }}" required [(ngModel)]="caption"
                            name="caption">
                        <p class="nameInput">URL</p>
                        <input type="file" #fileInput>
                        <button (click)="sendFileToServer(index.post_id)" class="btn">Confirm</button>
                        <button (click)="sendDelete(index.post_id)" class="btn-delete">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>