<app-header></app-header>
<div style="padding-bottom: 40px;">
    <div style="display: grid; place-items: center;">
        <div *ngFor="let index of name">
            <div *ngIf="userId == index.user_id" style="display: flex; justify-content: center; margin-top: -85px;">
                <img class="img-avatar" src="{{ index.avatar }}" alt="avatar">
            </div>
        </div>
        <div style="text-align: center; display: flex; margin-top: 120px; margin-left: 400px;">
        </div>
    </div>
    <div style="margin-top: 46px;">
        <div style="display: flex; justify-content: center; ">
            <div *ngFor="let index of name">
                <div *ngIf="userId == index.user_id" class="card-in-post" style="margin: 5px;">
                    <div class="caption-container">
                        <p class="name-caption">{{ index.post_caption }}</p>
                    </div>
                    <img (click)="showGrapTo(index.post_id)" class="img-in-post" src="{{ index.post_photo }}" alt="img">
                    <div class="name-vote-score">
                        <p class="vote-score">score : {{ index.score }}</p>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
