<app-header style="z-index: 0;"></app-header>
<div style="padding-bottom: 40px;">
    <div style="display: grid; place-items: center;">
        <div *ngFor="let index of name">
            <div *ngIf="userId == index.user_id" style="display: flex; justify-content: center; margin-top: -85px;">
                <img class="img-avatar" src="{{ index.avatar }}"
            alt="avatar">
            </div>
        </div>
        <div style="text-align: center; display: flex; margin-top: 85px; margin-left: 400px;">
            <button (click)="send()" class="btn-modify3"><img class="icon-modify2"
                    src="https://cdn-icons-png.flaticon.com/512/764/764599.png" alt="editprofile">
            </button>
        </div>
    </div>
    <div style="margin-top: 46px;">
        <button class="btn-modify2" (click)="checkPostLimit()"><img
                class="icon-modify" src="https://cdn-icons-png.freepik.com/512/32/32339.png" alt="add">
        </button>
        
        <div style="display: flex; justify-content: center; ">
            <div *ngFor="let index of name" >
                <div *ngIf="userId == index.user_id" class="card-in-post" style="margin: 5px;" >
                    <div class="caption-container">
                        <p class="name-caption">{{ index.post_caption }}</p>
                    </div>
                    <img (click)="sendTograp(index.post_id)" class="img-in-post"
                        src="{{ index.post_photo }}"
                        alt="img">
                    <div class="name-vote-score">
                        <p class="vote-score">score : {{ index.score }}</p>
                        <div>
                        <button (click)="sendpost(index.post_id)" class="btn-modify"><img class="icon-modify"
                            src="https://cdn-icons-png.flaticon.com/512/764/764599.png" alt="editpost">
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div>
    <input type="file" name="file" #fileInput>
    <button (click)="sendFileToServer()">Send File</button>
</div> -->



