<app-header></app-header>
<div class="card-btn">
    <button class="back-btn" (click)="send()">&lt; Back</button>
</div>

    <div class="card">
        <p class="headName">Change</p>
        <p class="nameInput">Old password</p>
        <input type="password" placeholder="password" required>
        <p class="nameInput">New password</p>
        <input type="password" placeholder="password" required>
        <p class="nameInput">Confirm password</p>
        <input type="password" placeholder="password" required>
        <button class="btnUpload">Confirm</button>
    </div>
