<app-header></app-header>
<div class="card-btn">
    <button class="back-btn" (click)="send()">&lt; Back</button>
</div>
    <div class="card">
        <p class="headName">Change</p>
        <p class="nameInput">Old password</p>
        <input type="password" placeholder="Old password" [(ngModel)]="Old" name="Old" required>
        <p class="nameInput">New password</p>
        <input type="password" placeholder="New password" [(ngModel)]="New1" name="New1" required>
        <p class="nameInput">Confirm password</p>
        <input type="password" placeholder="Confirm password" [(ngModel)]="New2" name="New2" required>
        <button (click)="Confirm()" class="btnUpload">Confirm</button>
    </div>
