<div class="container">
    <div class="card" >
        <div *ngIf="showWinImage">
            <img class="position" src="https://media1.giphy.com/media/SHzl9RryJ4klFthKzD/200.gif" alt="win">
        </div>
        <p>{{ selectedLeftName }}</p>
        <img class="img" src="{{ selectedLeftPhoto }}" alt="img">
        <!-- Display ELO Rating -->
        <p>Left ELO Rating: {{ leftNewELO | number: '1.0-0' }}</p>
        <!-- Display calculation method for LeftScore_sum -->
        <p>Calculate:</p>
        <p>{{ leftExpectation }} = 1 / (1 + 10^({{ rightELO }} - {{ leftELO }}) / 400)</p>
        <p>{{ leftNewELO }} = {{ leftELO }} + {{ K }} * ({{ leftActual }} - {{ leftExpectation }})</p>
    </div>
    <!-- <button class="btn" (click)="back()" >Back</button> -->
    <div class="card">
        <div>
            <div *ngIf="showLoseImage">
                <img class="position1" src="https://media1.giphy.com/media/SHzl9RryJ4klFthKzD/200.gif" alt="win">
            </div>
        </div>
        <p>{{ selectedRightName }}</p>
        <img class="img" src="{{ selectedRightPhoto }}" alt="img">
        <!-- Display ELO Rating -->
        <p>Right ELO Rating: {{ rightNewELO | number: '1.0-0' }}</p>
        <!-- Display calculation method for RightScore_sum -->
        <p>Calculate:</p>
        <p>{{ rightExpectation }} = 1 / (1 + 10^({{ leftELO }} - {{ rightELO }}) / 400)</p>
        <p>{{ rightNewELO }} = {{ rightELO }} + {{ K }} * ({{ rightActual }} - {{ rightExpectation }})</p>
    </div>
</div>
