.container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100vh;
    // background-color: rgb(150, 220, 255);
    background-image: url('https://mods.store.gx.me/mod/d4b17492-4443-4d3d-8656-6fe8324d18a8/cover/6387d777-69d3-403b-adaf-63eafc6d141b?fd40a4b8b151c4e432106576187d03c9');
    padding: 20px;
}

.img{
width: 350px;
height: 400px;
object-fit: cover;
}

.namehead{
font-size: 40px;
margin-top: 10px;
margin-bottom: -100px;
font-weight: bold;
color: #000000;

}

.card{
background-color:rgb(255, 255, 255) ;
padding: 10px;
border-radius: 20px;
}

.position{
width: 150px;
height: 130px;
position: absolute;
border-radius: 100%;
object-fit: cover;
bottom: 50px;
left: 40px;
}

.position1{
width: 150px;
height: 130px;
position: absolute;
border-radius: 100%;
object-fit: cover;
bottom: 50px;
left: 1000px;
}

